---
import { t, changeLanguage } from "i18next";
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { translation_key as tr } from "../translation";

changeLanguage("en");
---

<BaseLayout title = "Resume">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> </div>
  </div>
  <div class="mb-10 text-justify">
{ t(tr.resume.intro)} </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t(tr.resume.educ )}</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t(tr.resume.time_line.high_school.title)}  subtitle= {t( tr.resume.time_line.high_school.title)} />
    <TimeLineElement
      title= {t(tr.resume.time_line.professional.title)}
       subtitle= {t(tr.resume.time_line.professional.subtitle)}
      />
    <TimeLineElement
      title={t(tr.resume.time_line.covid.title)} subtitle=  {t(tr.resume.time_line.covid.subtitle)} />

    <TimeLineElement
      title={t( tr.resume.time_line.school42.title)}
      subtitle= {t(tr.resume.time_line.school42.subtitle)}
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title={t(tr.resume.time_line.work.zelexio.title)}
      subtitle= {t(tr.resume.time_line.work.zelexio.subtitle)}
      desc={t(tr.resume.time_line.work.zelexio.desc)}
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>French native</li>
    <li>English  fluent </li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>Clojure </li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>Typescript</li>
    <li>SASS</li>
    <li>HTML/JSX</li>
    <li>React</li>
    <li>Solidjs</li>
    <li>Node.js</li>
    <li>Vue.js</li>
    <li>Astro(here)</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Web Design</li>
  </ul>
 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Hobbies</div>
  </div>
  <div class="mb-10 text-justify"> 
   <li>
    I am decently active persone i climb at least 3 times a week.
    </li>
    <li>
     biking one of my favorite activity. for commute or just for fun. 
    </li>
    <li>
    discovering new music and new artist to get inspired. 
    </li>

  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pick a Stack? </div>
     <i class="text-sm">my 'Current techinal preference' in the 'current web' </i>
  </div>
  <div class="mb-10 text-justify"> 
  <div>
    <div class="flex flex-row">
      <div class="flex flex-col">
        <li>Typescript</li>
        <li>Solidjs/start</li>
        <li>tpc</li>
        <li>taildwind</li>
      </div>
  </div>
  <div class="mb-10 text-justify"> 
  </div>
</BaseLayout>
