---
const { title, img, desc, url, badge, tags, target = '_blank',showcase,repo } = Astro.props;
---

<div class="rounded-lg bg-base-100 hover:shadow-xl">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {img && <img src={img} alt={title} class="max-w-full md:max-w-[6rem] rounded-lg" />}
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {tags && tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
        </div>
         {showcase && <a class = "btn btn-outline btn-primary btn-sm" href ={showcase} target = "_blank" rel = "noopener noreferrer" >Show case</a> }
         {repo && <a class = "btn btn-outline  btn-sm bg-info" href ={repo} target = "_blank" rel = "noopener noreferrer" >Repository</a> }
      </div>
    </div>
  </a>
</div>
